#details_currently {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}

#me {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#school,
#work {
    width: 35vh;
}

#projects {
    grid-column-start: 1;
    grid-column-end: 3;
}